<nav class="navbar navbar-expand-md ">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
        <span class="text-capitalize lead text-white">market</span>
      </a>

      <button
        class="navbar-toggler bg-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#main-nav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link text-white">Login </a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link text-white">Register</a>
          </li>
          <li class="nav-item">
            <a routerLink="/products" class="nav-link text-white">products</a>
          </li>
          <li class="nav-item">
            <a routerLink="/cart" class="nav-link text-white">cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>